<div class="container">
    <form class="form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button class="loginbtn">Login</button>
        <div class="footer">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw"><a routerLink="/register">Register</a></span>
        </div>
        <div class="forgot">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>